# Lab 01 - 파이썬 시작하기, 변수와 연산자

## #03. 첫 번째 프로그램

### 소스코드 작성하기

In [5]:
# 메세지를 출력하는 명령어
print("Hello World")

Hello World

In [6]:
a=100   # 100을 의미하는 a라는 데이터 생성
b=200   # 200을 의미하는 b라는 데이터 생성

# 합산 결과 출력하기
print(a+b)

300

## #04. 변수의 이해

### 다양한 변수 만들기

In [7]:
# 변수 만들기 ( 오른쪽에서 왼쪽으로 대입 -> 최초 대입을 초기화라고 함 )
# -> 이름 = 값
a = 123
b = -456
print(a)
print(b)

123
-456

In [8]:
# 한 번 할당된 변수는 다른 값으로 변경 가능
a = 10000
print(a)

10000

In [9]:
c = 1.2
d = -3.45
print(c)
print(d)

1.2
-3.45

### 논리형 변수

In [10]:
a = True
print(a)

True

In [11]:
b = False
print(b)

False

### 문자열 변수

In [12]:
# 문자열 변수
msg = '안녕하세요. 파이썬'
print(msg)

안녕하세요. 파이썬

### 내용이 없는 변수

In [13]:
# 내용이 없는 변수
hello = None
print(hello)

None

## #05. 연산자의 활용

### 대입 연산자를 활용한 swap 처리

In [15]:
a = 1
b = 2
print(a)
print(b)

a, b = b, a
print(a)
print(b)

1
2
2
1

### 산술 연산자 사용하기

In [16]:
# 연산 결과는 새로운 변수에 할당 하거나 직접 출력 가능
a = 3
b = 4
c = a + b
print(c)

7

In [17]:
# 연산 결과 직접 출력
print(a-b)
print(a*b)
print(a/b)

-1
12
0.75

### 나눗셈과 거듭제곱

In [18]:
# 나눗셈의 몫을 구한다
# -> 처리 가능한 단위까지 계산함 (마지막 오차 발생)
print(10/3)

3.3333333333333335

In [19]:
# 나눗셈에서 소수점 아래를 버리고 몫만 계산
print(10//3)

3

In [20]:
# 나눗셈의 나머지를 구한다
# -> 정수 단위에서만 연산 후 종료
print(10%3)

1

In [21]:
## 거듭제곱
print(3**5)

243

### 단항 연산자

In [23]:
a=1
a+=100
a*=10
a//=3
a%=5
print(a)

1

### 비교 연산자

In [24]:
# 결과값이 True 혹은 False가 된다
print(100==50)
print(100!=50)
print(100>=50)
print(100>50)
print(100<50)
print(100<=50)

False
True
True
True
False
False

In [25]:
# 비교 연산도 하나의 수식이므로 결과를 다른 변수에 할당 가능함
result = 100>50
print(result)

True

### 논리 연산자

In [26]:
# 논리 연산자 (and) --> 전체가 True인 경우만 결과값이 True
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [27]:
# 논리 연산자 (or) --> 하나라도 True가 포함되어 있다면 결과값이 True
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [28]:
# True에 대한 부정
print(not True)

False

In [29]:
# False에 대한 부정
print(not False)

True

In [30]:
# 논리값을 저장하는 변수를 부정하여 그 결과를 다른 변수에 할당
mybool=True
reverse=not mybool
print(reverse)

False

### 비교 연산과 논리 연산의 결합

In [31]:
# 비교 연산의 결과값은 bool 형식이므로 논리 연산이 가능함
a= 100>50
b= 20>10
print(a and b)

True

In [32]:
# "비교 연산 --> 논리 연산"의 순서로 처리됨
c = 100>=100 and 50==10
print(c)

False

In [33]:
print( 100!=200 and 100==100)

True

### 완전 항등 연산자 'is'

In [34]:
# 비교를 위한 변수값 정의
x=100
y=100.0

In [35]:
# 단순 비교 연산자는 정수와 실수를 구분하지 않는다
print(x==y) # 100과 100.0을 같다고 판별하므로 True
print(x!=y) # 100과 100.0을 다르다고 판별할 경우 False

True
False

In [36]:
# is 연산자는 비교하는 값의 데이터 타입까지 일치해야만 True
print(x is y)   # 정수와 실수가 같다는 의미이므로 False
print(x is not y)   # 정수와 실수는 데이터 타입이 다르므로 내용이 같더라도 다른 값으로 판별

False
True