# LAB02 ‒ 함수의 이해 / 코딩테스트 준비 / 조건문과 반복문

## 01 - 함수의 이해

In [ ]:
# 정수형 변수의 데이터 타입 확인
age = 20        
typeofage = type(age)
print(typeofage)

<class 'int'>

In [68]:
# 실수형 변수의 데이터 타입 확인
pi = 3.14
typeofpi = type(pi)
print(typeofpi)

<class 'float'>

In [69]:
# 문자열 변수의 데이터 타입 확인
message = "Hello Python"
typeofmessage = type(message)
print(typeofmessage)

<class 'str'>

In [70]:
# 논리형 변수의 데이터 타입 확인
ok = True
typeofok = type(ok)
print(typeofok)

<class 'bool'>

In [71]:
# 출력하고자 하는 모든 형태의 값을 파라미터로 전달한다
# -> 문자열 이외의 다른 데이터 타입의 변수도 사용 가능함
a = 100
b = 3.14
c = True
print("Life", "is", "short", a, b, c)

Life is short 100 3.14 True

In [72]:
# 문자열 입력받기
msg1 = input("메시지를 입력하세요")
print(msg1)

# 일벽 받은 내용의 데이터 타입 확인 --> 무조건 문자열(str)
t=type(msg1)
print(t)

dd
<class 'str'>

In [73]:
# 입력받은 값을 정수 타입으로 변환
msg2 = input("정수를 입력하세요")
num = int(msg2)
print(num)

# 변환 결과의 데이터 타입 확인 --> 정수(int)
num_type = type(num)
print(num_type)

23
<class 'int'>

In [74]:
# 입력받은 값을 실수 타입으로 변환
msg3 = input("실수를 입력하세요")
fnum = float(msg3)
print(fnum)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
fnum_type = type(fnum)
print(fnum_type)

13.5
<class 'float'>

In [75]:
# 정수를 실수로 변환 --> 정수 뒤에 ".0"이 추가됨
num1 = 100
num2 = float(num1)
print(num2)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
t1 = type(num2)
print(t1)

100.0
<class 'float'>

In [76]:
# 실수를 정수로 변환 --> 소수점 버림
num3 = 123.78
num4 = int(num3)
print(num4)

# 변환 결과의 데이터 타입 확인 --> 정수(int)
t2 = type(num4)
print(t2)

123
<class 'int'>

In [77]:
# 모든 데이터 타입을 문자열로 변환하는 str() 함수
num1 = 100
s1 = str(num1)
print(type(num1),type(s1))

num2 = 3.14
s2 = str(num2)
print(type(num2), type(s2))

<class 'int'> <class 'str'>
<class 'float'> <class 'str'>

In [78]:
# 제곱근 구하기 --> '2**8' 연산과 동일한 결과
a = pow(2,8)
print(a)

256

In [79]:
# 절댓값 구하기
a = abs(100)
print(a)
b = abs(-100)
print(b)
c = abs(-12.345)
print(c)

100
100
12.345

In [80]:
# 소수점 반올림 후 정수만 출력
n = round(123.78)
print(n)

# 소수점 첫째 자리까지만 남기고 반올림
n2 = round(123.76,1)
print(n2)

124
123.8

## 02 - 함수 정의하기

In [81]:
def say_hello():
    print("Hello Python")
    print("안녕 파이썬")

In [82]:
say_hello()
say_hello()

Hello Python
안녕 파이썬
Hello Python
안녕 파이썬

In [83]:
def f(x):
    y=x+1
    print(y)

In [84]:
f(2)

3

In [85]:
f(3)

4

In [86]:
def foo(count):
    x=count*10
    print(x)

In [87]:
foo(2)

20

In [88]:
foo()

TypeError: foo() missing 1 required positional argument: 'count'

In [ ]:
def hello(x, y):
    z=x+y
    print(z)

In [ ]:
hello(2,1)

3

In [ ]:
hello(5,3)

8

In [ ]:
def sum1(x,y,z=0):
    answer=x+y+z
    print(answer)

In [ ]:
# 모든 파라미터 값을 전달하며 함수 호출
sum1(1,2,3)

6

In [ ]:
# 초기값이 설정된 파라미터는 호출 시에 생략 가능함 -> 생략된 파라미터는 초기값으로 설정됨
sum1(10,20)

30

In [ ]:
def sum2(a,b,c=0,d=0):
    answer=a+b+c+d
    print(answer)

In [ ]:
# 파라미터의 이름을 지정한 함수 호출 -> 파라미터 전달 순서를 무시할 수 있다
sum2(d=3, c=4, b=2, a=1)

10

In [ ]:
# 함수에 정의된 기본값 활용
sum2(1, b=2)

3

In [ ]:
def plus(x,y):
    z=x+y
    return z    # 자신이 호출된 위치로 값을 되돌려준다

In [ ]:
a=plus(10,20)   # 리턴 값을 다른 변수에 할당하기
print(a)

30

In [ ]:
print(plus(100,200))    # 리턴값을 갖는 함수는 그 결과를 직접 출력할 수 있다

300

In [ ]:
b=plus(5,7)+100     # 리턴값을 갖는 함수는 그 결과를 다른 연산에 활용할 수 있다
print(b)

112

In [ ]:
# return문을 중간에 만나는 경우 그 즉시 수행을 종료한다
# 리턴문 이후의 코드는 실행되지 않는다
def foo(x,y):
    return 0
    z=x+y           # 함수가 실행 도중 중단되므로 이후의 코드는 무의미하다는 의미로 흐릿하게 표시됨
    return z

In [ ]:
# z값을 계산하기 전에 0을 리턴하므로 결과값이 0이 된다
print(foo(100,200))

0

In [ ]:
a=100
b=200

def foo():
    k=a+b   # 함수 안에서는 함수 밖의 변수 식별 가능
    print(k)

In [ ]:
foo()

300

In [ ]:
print(k)    # 함수 밖에서는 함수 내부에서 생성된 변수 식별 불가

NameError: name 'k' is not defined

## 04 - 조건문

In [ ]:
print("시험시작")
score=int(input("점수를 입력하세요"))
if score>=60:
    print("합격입니다.")
print("시험 끝")

시험시작
시험 끝

In [ ]:
#money=10000
money=0
if money:
    print("택시를 타고")
print("집에 가자")

집에 가자

In [ ]:
#name="Python"
name=""
if name:
    print(name)
print("프로그래밍")

프로그래밍

In [ ]:
myage=int(input("나이를 입력하세요"))
if myage==19:
    print("19살 입니다.")
if myage!=20:
    print("20살이 아닙니다.")
if myage>19:
    print("성인입니다.")
if myage<=19:
    print("청소년입니다.")

19살 입니다.
20살이 아닙니다.
청소년입니다.

In [ ]:
point=int(input("점수를 입력하세요"))

# AND --> 전체가 참이어야 결과가 참
if point>70 and point<=80:
    print("C학점 입니다.")

# OR --> 하나라도 참이면 결과가 참
if point<=70 or point>80:
    print("C학점이 아닙니다.")

C학점 입니다.

In [ ]:
#isKorean=True
isKorean=False

if isKorean==True:
    print("한국 사람입니다...(1)")
if isKorean==False:
    print("한국 사람이 아닙니다...(2)")
if isKorean!=True:
    print("한국 사람이 아닙니다...(3)")
if isKorean!=False:
    print("한국 사람입니다...(4)")
if isKorean:
    print("한국 사람입니다...(5)")
if not isKorean:
    print("한국 사람이 아닙니다...(6)")

한국 사람이 아닙니다...(2)
한국 사람이 아닙니다...(3)
한국 사람이 아닙니다...(6)

In [ ]:
print("시험 시작")
score=int(input("점수를 입력하세요"))
if score>=60:
    print("합격입니다.")
else:
    print("불합격입니다.")
print("시험 끝")

시험 시작
합격입니다.
시험 끝

In [ ]:
answer=input("한국인입니까? (Y/N)")

if answer=="Y":
    isKorean=True
else:
    isKorean=False

if isKorean:
    print("한국 사람 입니다...(1)")
else:
    print("한국 사람이 아닙니다...(2)")

if not isKorean:
    print("한국 사람이 아닙니다...(3)")
else:
    print("한국 사람 입니다...(4)")

한국 사람이 아닙니다...(2)
한국 사람이 아닙니다...(3)

In [ ]:
print("시험 시작")
point=int(input("점수를 입력하세요"))
if point>90:
    print("A학점")
elif point>80:
    print("B학점")
elif point>70:
    print("C학점")
elif point>60:
    print("D학점")
else:
    print("F학점")
print("시험 끝")

시험 시작
C학점
시험 끝

## 05 - 반복문

### WHILE 문

In [93]:
x=1                     #초기식
while x<=10:            #조건식 -> x가 10보다 작거나 같은 동안 반복 수행
    print("x =",x)      #증감식 -> 조건에 사용되는 값을 변경
    x+=1
print("x의 최종값 =",x)

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x의 최종값 = 11

In [92]:
x=int(input("숫자를 입력하세요."))

#구구단 출력하기
y=1             #초기식
while y<10:     #조건식 -> 10보다 작다이므로 10은 포함되지 않음
    z=x*y       #반복이 진행되는 동안 수행할 명령
    print(x,"x",y,"=",z)
    y+=1        #증감식 -> y가 1씩 증가함

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

In [91]:
# 1~10까지의 총 합을 구하기
x=1             #초기식
sum=0           #총합을 누적해서 저장할 변수
while x<=10:    #조건식 -> x가 10보다 작거나 같은 동안 반복 수행
    sum+=x
    print("x =",x,"-> sum =",sum)
    x+=1        #증감식 -> 조건에 사용되는 값을 변경

x = 1 -> sum = 1
x = 2 -> sum = 3
x = 3 -> sum = 6
x = 4 -> sum = 10
x = 5 -> sum = 15
x = 6 -> sum = 21
x = 7 -> sum = 28
x = 8 -> sum = 36
x = 9 -> sum = 45
x = 10 -> sum = 55

In [94]:
# 0부터 50 전까지(=49까지) 10씩 증가
a=0
while a<50:
    print(a)
    a+=10

0
10
20
30
40

In [95]:
# 10부터 0 전까지(=1까지) 2씩 감소
b=10
while b>0:
    print(b)
    b-=2

10
8
6
4
2

### FOR 문

In [97]:
# x가 1부터 11전까지 1씩 증가하면서 반복 수행
for x in range(1,11):
    # 반복이 진행되는 동안 수행할 명령
    print("x =",x)
print("x의 최종값 =",x)

x = 1
x = 2
x = 3
x = 4
x = 5
x = 6
x = 7
x = 8
x = 9
x = 10
x의 최종값 = 10

In [98]:
x=int(input("숫자를 입력하세요."))
# -> 1부터 10전까지 1씩 증가하는 값을 y에 설정
for y in range(1,10):
    # 반복이 진행되는 동안 수행할 명령
    z=x*y
    print(x,"x",y,"=",z)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [99]:
# 1~10까지의 총 합을 구하기
sum=0
for x in range (1,11):
    sum+=x
    print("x =",x,"-> sum =",sum)

x = 1 -> sum = 1
x = 2 -> sum = 3
x = 3 -> sum = 6
x = 4 -> sum = 10
x = 5 -> sum = 15
x = 6 -> sum = 21
x = 7 -> sum = 28
x = 8 -> sum = 36
x = 9 -> sum = 45
x = 10 -> sum = 55

In [102]:
# 0부터 50 전까지 10씩 증가
for a in range(0,50,10):
    print(a)

0
10
20
30
40

In [103]:
# 10부터 0 전까지 2씩 감소
for b in range(10,0,-2):
    print(b)

10
8
6
4
2