# LAB03‒ 프로그램 흐름제어 / 리스트 (1)
## 1. 프로그램 프름제어

In [2]:
point=int(input("점수를 입력하세요: "))
if point>70:
    print("패스입니다.")
    if point>90:
        print("A입니다.")
    elif point>80:
        print("B입니다.")
    else:
        print("C입니다.")
else:
    print("패스하지 못했습니다.")

패스입니다.
B입니다.

In [5]:
number=int(input("숫자를 입력하세요: "))
x=0     # 초기화 변수 지정
y=0
for i in range(1,number+1):
    if i%2==0:
        print(i,"--> 짝수")
        x+=i
    else:
        print(i,"--> 홀수")
        y+=i
print("짝수들의 합:", x)
print("홀수들의 합:", y)

1 --> 홀수
2 --> 짝수
3 --> 홀수
4 --> 짝수
5 --> 홀수
6 --> 짝수
7 --> 홀수
8 --> 짝수
9 --> 홀수
10 --> 짝수
11 --> 홀수
12 --> 짝수
13 --> 홀수
짝수들의 합: 42
홀수들의 합: 49

In [7]:
for i in range(0,5):
    print(i)
    if i+1<5:
        print("-----")

0
-----
1
-----
2
-----
3
-----
4

In [8]:
x=3
y=5
for i in range(1,101):
    if i%(x*y)==0:
        print(i)

15
30
45
60
75
90

In [12]:
for i in range(0,3):
    print("i에 대한 반복 수행 시작 : i -->",i)
    for j in range(0,5):
        print("::: i =",i,", j =",j)
    print("i에 대한 반복 수행 종료")
    if i+1<3:
        print("-------")

i에 대한 반복 수행 시작 : i --> 0
::: i = 0 , j = 0
::: i = 0 , j = 1
::: i = 0 , j = 2
::: i = 0 , j = 3
::: i = 0 , j = 4
i에 대한 반복 수행 종료
-------
i에 대한 반복 수행 시작 : i --> 1
::: i = 1 , j = 0
::: i = 1 , j = 1
::: i = 1 , j = 2
::: i = 1 , j = 3
::: i = 1 , j = 4
i에 대한 반복 수행 종료
-------
i에 대한 반복 수행 시작 : i --> 2
::: i = 2 , j = 0
::: i = 2 , j = 1
::: i = 2 , j = 2
::: i = 2 , j = 3
::: i = 2 , j = 4
i에 대한 반복 수행 종료

In [14]:
for i in range(2,10):
    for j in range(1,10):
        k=i*j
        print(i,"x",j,"=",k)
    if i+1<10:
        print("----------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [15]:
for i in range(0,5):
    star=""
    for j in range(0,i+1):
        star+="*"
    print(star)

*
**
***
****
*****

In [24]:
for i in range(0,5):
    star=""
    for j in range(0,5-i):
        star+="*"
    print(star)

*****
****
***
**
*

In [16]:
y=0
while True:
    y+=1
    if y%2==0:
        continue
    if y>10:
        break
    print("Hello Python ::",y)

Hello Python :: 1
Hello Python :: 3
Hello Python :: 5
Hello Python :: 7
Hello Python :: 9

In [17]:
count=0
for i in range(1,7):
    for j in range(1,7):
        if i+j==6:
            count+=1
            print(i,j)
print("경우의 수 :",count)

1 5
2 4
3 3
4 2
5 1
경우의 수 : 5

In [26]:
n=int(input("숫자를 입력하세요"))
print("입력된 숫자 =",n)
print("")
for i in range(0,n):
    print(" "*i+"*"*n+" "*(n-i)*2+"*"*n+" "*i)

입력된 숫자 = 10

**********                    **********
 **********                  **********
  **********                **********
   **********              **********
    **********            **********
     **********          **********
      **********        **********
       **********      **********
        **********    **********
         **********  **********

In [27]:
# 5명의 학생에 대한 성적 나열 --> 정수형의 원소만 갖는 리스트
grade=[98,82,73,64,100]
print(grade)

[98, 82, 73, 64, 100]

In [29]:
# 각 학생의 이름에 대한 나열 --> 문자열 타입의 원소만 갖는 리스트
names=["철수","영희","나영","민식","호영"]
print(names)

['철수', '영희', '나영', '민식', '호영']

In [32]:
student=["철수", 17, 162.4, 68.5, "남자", True]
print(student)

['철수', 17, 162.4, 68.5, '남자', True]

In [33]:
items=[10,20,30]
print(items[0])
print(items[1])
print(items[2])

10
20
30

In [34]:
mydata=[100,200,300]
print(mydata)

mydata[0]=0
mydata[1]=mydata[1]-150
mydata[2]//=3
print(mydata)

[100, 200, 300]
[0, 50, 100]

In [35]:
list1=[10,20,30]
list2=[40,50,60]
print(list1)
print(list2)

[10, 20, 30]
[40, 50, 60]

In [36]:
list3=list1+list2
print(list3)
list4=list1*5
print(list4)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [37]:
stud1=["철수",98]
stud2=["영희",82]
stud3=["나영",73]
studentGroup=[stud1,stud2,stud3]
print(studentGroup)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [38]:
studentGroup2=[
    ["민식",64,172.3],
    ["호영",100,175.8],
    ["철민",89,168.7]
]

print(studentGroup2)

[['민식', 64, 172.3], ['호영', 100, 175.8], ['철민', 89, 168.7]]

In [39]:
print(studentGroup2[0])

['민식', 64, 172.3]

In [41]:
학생=[
    ["민식",64,172.3],
    ["호영",100,175.8],
    ["철민",89,168.7]
]
print("이름 :", 학생[0][0],"몸무게 :", 학생[0][1], "키 :", 학생[0][2])
print("이름 :", 학생[1][0],"몸무게 :", 학생[1][1], "키 :", 학생[1][2])
print("이름 :", 학생[2][0],"몸무게 :", 학생[2][1], "키 :", 학생[2][2])

이름 : 민식 몸무게 : 64 키 : 172.3
이름 : 호영 몸무게 : 100 키 : 175.8
이름 : 철민 몸무게 : 89 키 : 168.7

In [42]:
mylist=[10,20,30]
print(mylist[1])
print(mylist[-1])

20
30

In [43]:
first=mylist[0]
print(first)
mylist[1]=200
print(mylist)

10
[10, 200, 30]

In [45]:
mylist=[60,70,80,90,100]
print(mylist[1:3])
print(mylist[1:-2])

[70, 80]
[70, 80]

In [46]:
print(mylist[3:])
print(mylist[:3])
print(mylist[:])

[90, 100]
[60, 70, 80]
[60, 70, 80, 90, 100]

In [47]:
foo=[1,2,3,4,5]
foo[1:4]=[20,30,40]
print(foo)

[1, 20, 30, 40, 5]

In [48]:
bar=[11,22,33,44,55]
bar[1:4]=[]
print(bar)

[11, 55]

In [49]:
hello=[6,7,8,9,10]
hello[1:3]=[100,200,300,400,500,600,700]
print(hello)

[6, 100, 200, 300, 400, 500, 600, 700, 9, 10]

In [50]:
world=[11,12,13,14,15]
world[1:4]=[1000,2000]
print(world)

[11, 1000, 2000, 15]

In [51]:
hello=[100,200,300]
cp2=hello[:]
cp2[1]=12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [52]:
cp3=hello.copy()
print(cp3)

[100, 200, 300]

In [53]:
def divmod(a,b):
    return[a//b,a%b]
result=divmod(7,3)
print(result)
x,y=divmod(7,3)
print("몫 :",x,", 나머지 :",y)

[2, 1]
몫 : 2 , 나머지 : 1

In [54]:
mylist=[5,3,7,1,9]
target=7
find = target in mylist
print(find)

True

In [55]:
not_find = target not in mylist
print(not_find)

False

In [57]:
user_id_list = ["mike", "tom", "jane"]
user_id = input("아이디를 입력하세요 : ")
if user_id in user_id_list:
    print("죄송합니다. 해당 아이디는 사용 중입니다.")
else:
    print("사용 가능한 아이디입니다.")

죄송합니다. 해당 아이디는 사용 중입니다.

In [58]:
mylist=[10,20,30,40,50]
size=len(mylist)
i=0
while i<size:
    print(mylist[i])
    i+=1

10
20
30
40
50

In [59]:
성적표 = [92,88,76,90,82]
과목수 = len(성적표)
i=0
합계점수=0
while i<과목수:
    합계점수+=성적표[i]
    i+=1
평균점수=합계점수/과목수
print("총점 :",합계점수,"/ 평균 :",평균점수)

총점 : 428 / 평균 : 85.6

In [60]:
seasons = ['봄','여름','가을','겨울']
size=len(seasons)
for i in range(0,size):
    print(i,"번째 원소 :",seasons[i])

0 번째 원소 : 봄
1 번째 원소 : 여름
2 번째 원소 : 가을
3 번째 원소 : 겨울

In [61]:
msg=['python','is','good']
for i in msg:
    print(i)

python
is
good

In [62]:
score=[100,82,98,76,51]
total=0
for v in score:
    total+=v
avg=total//len(score)
print("총점 :",total,", 평균 :",avg)

총점 : 407 , 평균 : 81

In [65]:
city=['서울','인천','대구','대전','광주','부산']
for i, v in enumerate(city):
    print(i,"번째 값 :",v)

0 번째 값 : 서울
1 번째 값 : 인천
2 번째 값 : 대구
3 번째 값 : 대전
4 번째 값 : 광주
5 번째 값 : 부산

In [66]:
mydata=[[88,72,83,90],[63,77,72,80]]
size=len(mydata)
print("size =",size)
for i in range(0,size):
    print(i,"번째 데이터 ->", mydata[i])

size = 2
0 번째 데이터 -> [88, 72, 83, 90]
1 번째 데이터 -> [63, 77, 72, 80]

In [67]:
mydata=[[88,72,83,90],[63,77,72,80]]
size=len(mydata)
print("size =",size)
for i in range(0,size):
    print(i,"번째 데이터 ->", mydata[i])
    total=0
    size1=len(mydata[i])
    for j in range(0,size1):
        total+=mydata[i][j]
    average=total/size1
    print(i,"번째 데이터 ==> 총합 =",total,"평균 =",average)

size = 2
0 번째 데이터 -> [88, 72, 83, 90]
0 번째 데이터 ==> 총합 = 333 평균 = 83.25
1 번째 데이터 -> [63, 77, 72, 80]
1 번째 데이터 ==> 총합 = 292 평균 = 73.0

In [68]:
mydata=[[88,72,83,90],[63,77,72,80]]
size=len(mydata)
print("size =",size)
for i in range(0,size):
    print(i,"번째 데이터 ->", mydata[i])
    total=0
    size1=len(mydata[i])
    for j in mydata[i]:
        total+=j
    average=total/size1
    print(i,"번째 데이터 ==> 총합 =",total,"평균 =",average)

size = 2
0 번째 데이터 -> [88, 72, 83, 90]
0 번째 데이터 ==> 총합 = 333 평균 = 83.25
1 번째 데이터 -> [63, 77, 72, 80]
1 번째 데이터 ==> 총합 = 292 평균 = 73.0

In [69]:
for row in mydata:
    print("이번에 출력되는 데이터 ->",row)
    total=0
    for col in row:
        total+=col
    average=total/len(row)
    print(row,"에 대한 총합 =",total,", 평균 =",average)

이번에 출력되는 데이터 -> [88, 72, 83, 90]
[88, 72, 83, 90] 에 대한 총합 = 333 , 평균 = 83.25
이번에 출력되는 데이터 -> [63, 77, 72, 80]
[63, 77, 72, 80] 에 대한 총합 = 292 , 평균 = 73.0