# LAB04‒ 리스트 (2) / 문자열
## 2. 리스트 관련 함수

In [1]:
mylist=[1,2,3]
print(len(mylist))

3

In [2]:
del(mylist[1])
print(mylist)

[1, 3]

In [ ]:
mylist=[4,2,5,3,1]
print(mylist)
asc=sorted(mylist)
print(asc)
desc=sorted(mylist,reverse=True)
print(desc)
print(mylist)           # 원본은 그대로임!!!

[4, 2, 5, 3, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 2, 5, 3, 1]

In [4]:
a=[1,2,3]
print(max(a))
print(min(a))
print(sum(a))

3
1
6

In [5]:
avg=sum(a)/len(a)
print(avg)

2.0

In [6]:
a="Python"
b=list(a)
print(b)

['P', 'y', 't', 'h', 'o', 'n']

In [7]:
c=(1,2,3)
d=list(c)
print(d)

[1, 2, 3]

In [8]:
e=[10,20,30]
f=list(e)
print(f)

[10, 20, 30]

In [9]:
k=range(1,10)
print(type(k))
print(k)

<class 'range'>
range(1, 10)

In [12]:
z=list(k)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
k=list(range(1,10,3))       # 1부터 10 전까지 3씩 증가하는 range 객체를 list로 변환
print(k)

[1, 4, 7]

In [14]:
mylist=[1,2,3,2,4,2]
c=mylist.count(2)
print(c)

3

In [15]:
mylist=[1,2,3,10,1,2,3,10]
x=mylist.index(10)
print(x)

3

In [16]:
mylist=[1,2,3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [17]:
mylist=[1,2,3]
mylist.append([5,6])
print(mylist)

[1, 2, 3, [5, 6]]

In [18]:
mylist=[1,2,3]
mylist.insert(1,10)
print(mylist)

[1, 10, 2, 3]

In [19]:
mylist=[1,2,3]
mylist.insert(0,10)
print(mylist)

[10, 1, 2, 3]

In [20]:
mylist=[1,2,3]
lastindex=len(mylist)
mylist.insert(lastindex, 10)
print(mylist)

[1, 2, 3, 10]

In [21]:
mylist=[1,2,3]
k=mylist.pop()
print(k)
print(mylist)

3
[1, 2]

In [22]:
mylist=[1,2,3]
addon=[10,9,8,7]
mylist.extend(addon)
print(mylist)

[1, 2, 3, 10, 9, 8, 7]

In [24]:
mylist=[1,2,3,10,1,2,3,10]
mylist.remove(10)
print(mylist)

[1, 2, 3, 1, 2, 3, 10]

In [25]:
mylist=[1,7,5,3,9]
mylist.reverse()
print(mylist)

[9, 3, 5, 7, 1]

In [26]:
mylist=[2,5,1,4,3]
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5]

In [28]:
mylist=[2,5,1,4,3]
mylist.sort(reverse=True)
print(mylist)

[5, 4, 3, 2, 1]

In [29]:
text="Hello,Python,World,Good"
mylist=text.split(",")
print(mylist)

['Hello', 'Python', 'World', 'Good']

In [30]:
dl="$"
mylist=['Hello','Python','World','Good']
text=dl.join(mylist)
print(text)

Hello$Python$World$Good

In [31]:
empty=""
mylist=['Hello','Python','World','Good']
text=empty.join(mylist)
print(text)

HelloPythonWorldGood

In [32]:
space=" "
mylist=['Hello','Python','World','Good']
text=space.join(mylist)
print(text)

Hello Python World Good

In [33]:
c=divmod(7,3)
print(c)

(2, 1)

In [34]:
k=divmod(800,24)
tpl="{0}일 {1}시간"
print(tpl.format(k[0],k[1]))

33일 8시간

In [36]:
days,hours=divmod(900,24)
tpl="{0}일 {1}시간"
print(tpl.format(days,hours))

37일 12시간

In [37]:
msg1="Life is too short"
msg2='You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [38]:
mymsg="Hello"
for m in mymsg:
    print(m)

H
e
l
l
o

In [39]:
msg1="Hello"
msg2="Python"
print(msg1+", "+msg2)

Hello, Python

In [40]:
pay="20000"
bonus="100"
print(pay+bonus)

20000100

In [42]:
name="Python"
print(name*5)

PythonPythonPythonPythonPython

In [43]:
case1="Life is \"too\" short"
print(case1)

Life is "too" short

In [44]:
case2 = 'Life is \'too\' short'
print(case2)

Life is 'too' short

In [45]:
print("Life is too short\nYou need Python")

Life is too short
You need Python

In [46]:
print("Life is too short\tYou need Python")

Life is too short	You need Python

In [47]:
print("Life is too short\\You need Python")

Life is too short\You need Python

In [48]:
str1="You 'need' Python"
print(str1)

You 'need' Python

In [49]:
str2='You "need" Python'
print(str2)

You "need" Python

In [50]:
mystr="Life is too short, You need Python"
mystr

'Life is too short, You need Python'

In [51]:
print(mystr[3])

e

In [52]:
print(mystr[-3])

h

In [53]:
print(mystr[0:4])

Life

In [54]:
print(mystr[5:7])

is

In [55]:
print(mystr[19:])

You need Python

In [56]:
print(mystr[:17])

Life is too short

In [57]:
print(mystr[:])

Life is too short, You need Python

In [58]:
print(mystr[19:-7])

You need

In [59]:
print(mystr[7:5])

In [60]:
str1="나는 %d원을 갖고 있다." %10000
print(str1)

나는 10000원을 갖고 있다.

In [61]:
money=123.456789
print("[%f]원 입니다."%money)

[123.456789]원 입니다.

In [62]:
lang="Python"
str2="Hello %s"%lang
print(str2)

Hello Python

In [63]:
str3="%s 날짜는 %d년 %d월 %d일 입니다."
msg1=str3%("정모", 2023, 1, 1)
print(msg1)
msg2=str3%("약속", 2023, 3, 5)
print(msg2)

정모 날짜는 2023년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [64]:
print("[%10d]원을 입금했습니다."%120000)

[    120000]원을 입금했습니다.

In [65]:
print("[%010d]원을 입금했습니다."%120000)

[0000120000]원을 입금했습니다.

In [66]:
print("[%10s]에 살고 있습니다."%"서울시")

[       서울시]에 살고 있습니다.

In [67]:
mymoney=12345.6789
print("[%0.3f]원 입니다."%mymoney)

[12345.679]원 입니다.

In [68]:
print("[%10.3f]원 입니다."%mymoney)

[ 12345.679]원 입니다.

In [69]:
print("[%010.3f]원 입니다."%mymoney)

[012345.679]원 입니다.

In [70]:
msg1="I eat {0} apples"
print(msg1.format(3))

I eat 3 apples

In [71]:
msg2="{0}은 {1}년 {2}월 {3}일 입니다."
print(msg2.format("오늘",2025,10,20))

오늘은 2025년 10월 20일 입니다.

In [72]:
fmt="이 과자는 {price}{unit} 입니다."
rst=fmt.format(unit="원", price="2000")
print(rst)

이 과자는 2000원 입니다.

In [74]:
msg3="{name}은 {yy}년 {mm}월 {dd}일 {rr}요일 입니다."
print(msg3.format(name="내일",yy=2025,mm=10,dd=21,rr="화"))

내일은 2025년 10월 21일 화요일 입니다.

In [75]:
msg4="{0}은 {yy}년 {mm}월 {dd}일 입니다."
print(msg4.format("내 생일", yy=2025,mm=11,dd=6))

내 생일은 2025년 11월 6일 입니다.

In [76]:
fmt5="{1} {name}는 이 {0}입니다."
print(fmt5.format("책", "좋은", name="교과서"))

좋은 교과서는 이 책입니다.

In [77]:
mystr="파이썬은 웹 프로그래밍이나 데이터 분석에 많이 사용되는 언어입니다."
print(mystr.count("이"))
print(mystr.count("가"))

4
0

In [78]:
print(mystr.count("파이썬"))
print(mystr.count("Python"))

1
0

In [79]:
message="내가 좋아하는 것에만 집중하기로 했다."
print(message.find("가"))
print(message.find("나"))
print(message.find("집중"))
print(message.find("파이썬"))

1
-1
12
-1

In [80]:
sentence="사람의 사람에 의한 사람을 위한"
print(sentence.rfind("사"))
print(sentence.rfind("자"))
print(sentence.rfind("사람"))
print(sentence.rfind("인간"))

11
-1
11
-1

In [81]:
test3="HELLO"
print(test3.isupper())
test4="Hello"
print(test4.isupper())

True
False

In [82]:
test5="hello"
print(test5.islower())
test6='Hello'
print(test6.islower())

True
False

In [83]:
mystr="Hello Python"
up=mystr.upper()
print(up)
lw=mystr.lower()
print(lw)
print(mystr)

HELLO PYTHON
hello python
Hello Python

In [84]:
print(mystr.swapcase())
print(mystr.capitalize())
print(mystr.title())

hELLO pYTHON
Hello python
Hello Python

In [86]:
k="    python    "
print("["+k+"]")
x=k.strip()
print("["+x+"]")
y=k.lstrip()
print("["+y+"]")
z=k.rstrip()
print("["+z+"]")

[    python    ]
[python]
[python    ]
[    python]

In [87]:
mymessage="Hello World"
newmessage=mymessage.replace("World","Python")
print(newmessage)
print(mymessage)

Hello Python
Hello World

In [89]:
sample1='파이썬,데이터분석,머신러닝'
slist1=sample1.split(",")
print(slist1)

['파이썬', '데이터분석', '머신러닝']

In [90]:
sample2="파이썬 데이터분석 머신러닝"
slist2=sample2.split()
print(slist2)

['파이썬', '데이터분석', '머신러닝']

In [91]:
test1="123"
print(test1.isnumeric())

True

In [92]:
test2="Hello123"
print(test2.isnumeric())

False