# LAB05‒ 딕셔너리 / 예외처리 / 파일 입출력
## 1. 딕셔너리의 이해

In [2]:
mydic={"name":"철수", "phone":"010-1234-5678", "birth":"0115"}
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [3]:
print(mydic["name"])

철수

In [4]:
phone=mydic["phone"]
print(phone)

010-1234-5678

In [5]:
mydic["name"]="호영"
print(mydic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

In [6]:
foo={"a":100, "b":200}
foo["c"]=300
print(foo)

{'a': 100, 'b': 200, 'c': 300}

In [7]:
data={"msg":"hello","msg":"world","msg":"python"}
print(data["msg"])
data

python

{'msg': 'python'}

In [8]:
grade=[
    {"name":"철수", "kor":95, "eng":88},
    {"name":"영희", "kor":92, "eng":90},
    {"name":"철민", "kor":88, "eng":76}
]

for i in range(0,len(grade)):
    print(i,"번째 원소 : %s" %grade[i])

0 번째 원소 : {'name': '철수', 'kor': 95, 'eng': 88}
1 번째 원소 : {'name': '영희', 'kor': 92, 'eng': 90}
2 번째 원소 : {'name': '철민', 'kor': 88, 'eng': 76}

In [9]:
tpl="{0}의 국어점수:{1}, 영어점수:{2}"
for i in range(0,len(grade)):
    print(tpl.format(grade[i]["name"], grade[i]["kor"], grade[i]["eng"]))

철수의 국어점수:95, 영어점수:88
영희의 국어점수:92, 영어점수:90
철민의 국어점수:88, 영어점수:76

In [10]:
student={
    "name":['철수', '민수', '호영'],
    "age":[16,17,19],
    "height":[172.4,168.2,170.5]
}

tpl="[%s] 나이 : %d세, 키 : %0.1fcm"
for i in range(0,len(student["name"])):
    print(tpl % (student["name"][i], student["age"][i], student["height"][i]))

[철수] 나이 : 16세, 키 : 172.4cm
[민수] 나이 : 17세, 키 : 168.2cm
[호영] 나이 : 19세, 키 : 170.5cm

In [16]:
phone={
    "apple":{
        "name" : "iPhone",
        "price" : "200$"
    },
    "samsung":{
        "name" : "Galaxy",
        "price" : "200만원"
    }
}

tpl="%s의 가격은 %s입니다."
for i in phone:
    print(tpl % (phone[i]["name"], phone[i]["price"]))

iPhone의 가격은 200$입니다.
Galaxy의 가격은 200만원입니다.

In [17]:
review={
    "items":[
        {"email":"user1@python.com", "comment":"Good~!!"},
        {"email":"user2@python.com", "comment":"Nice~~"},
        {"email":"user3@python.com", "comment":"Not Bad"}
    ]
}

tpl="email: {0}, comment: {1}"
for item in review["items"]:
    print(tpl.format(item["email"],item["comment"]))

email: user1@python.com, comment: Good~!!
email: user2@python.com, comment: Nice~~
email: user3@python.com, comment: Not Bad

In [18]:
lectures={
    "title":"파이썬 프로그래밍",
    "subject":[
        {"no":1, "date":"1일차", "title":"프로그래밍 언어의 이해"},
        {"no":2, "date":"2일차", "title":"변수와 연산자"},
        {"no":3, "date":"3일차", "title":"함수의 이해"},
        {"no":4, "date":"4일차", "title":"조건문과 반복문"}
    ]
}

print(lectures["title"])

tpl="No.{0} - {1} : {2}"
for sb in lectures["subject"]:
    print(tpl.format(sb["no"],sb["date"],sb["title"]))

파이썬 프로그래밍
No.1 - 1일차 : 프로그래밍 언어의 이해
No.2 - 2일차 : 변수와 연산자
No.3 - 3일차 : 함수의 이해
No.4 - 4일차 : 조건문과 반복문

## 딕셔너리의 활용

In [19]:
point={"korean":98, "math":77, "english":82}
len(point)

3

In [20]:
print(point)
del(point['english'])
print(point)

{'korean': 98, 'math': 77, 'english': 82}
{'korean': 98, 'math': 77}

In [22]:
dic={'name':'철수', 'phone':'010-1234-5678', 'birth':'0115'}
print(dic.get('name'))
print(dic.get('gender'))

철수
None

In [23]:
foo={'a':100,'b':200}
print(foo.get('c',300))

300

In [24]:
성적표={'국어':92, '수학':88, '영어':72}
keys=성적표.keys()
print(keys)

dict_keys(['국어', '수학', '영어'])

In [25]:
key_list=list(keys)
print(key_list)

['국어', '수학', '영어']

In [27]:
valuelist=list(성적표.values())
print(valuelist)

[92, 88, 72]

In [28]:
성적표1={'국어':92,'수학':88,'영어':72}
성적표2={'물리':78,'화학':82}
성적표1.update(성적표2)
print(성적표1)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [29]:
성적표최종=성적표1.copy()
print(성적표최종)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [30]:
bar={'a':100,'b':200}
print(bar)

bar.clear()
print(bar)

{'a': 100, 'b': 200}
{}

## 3. 예외 처리

In [31]:
x=int(input("숫자를 입력하세요."))
y=100/x
print("결과는 %d입니다."%y)

ZeroDivisionError: division by zero

In [32]:
mylist=[92,76,83,64,95]
mysum=0
x=int(input("인원수를 입력하세요."))
for i in range(x):
    mysum+=mylist[i]
print("합계는 %d입니다."%mysum)

IndexError: list index out of range

In [33]:
x=int(input("숫자를 입려가세요."))
if x==0:
    print("0으로 나눌 수 없습니다.")
else:
    y=100/x
    print("결과는 %d입니다."%y)

0으로 나눌 수 없습니다.

In [34]:
mylist=[92,76,83,64,95]
mysum=0
x=int(input("인원수를 입력하세요."))
if len(mylist)<x:
    print("인원수가 너무 큽니다.")
else:
    for i in range(x):
        mysum+=mylist[i]
    print("합계는 %d입니다."%mysum)

인원수가 너무 큽니다.

In [35]:
try:
    x=int(input("숫자를 입력하세요."))
    y=100/x
    print("결과는 %d입니다."%y)
except:
    print("에러가 발생했습니다.")

에러가 발생했습니다.

In [37]:
try:
    x=int(input("숫자를 입력하세요."))
    y=100/x
    print("결과는 %d입니다."%d)
except Exception as e:
    print("에러가 발생했습니다.",e)
finally:
    print("오늘은 여기까지")

에러가 발생했습니다. division by zero
오늘은 여기까지

In [38]:
mylist=[92,76,83,64,95]
mysum=0
try:
    x=int(input("인원수를 입력하세요."))
    for i in range(x):
        mysum+=mylist[i]
    print("합계는 %d입니다."%mysum)
except Exception as e:
    print("에러가 발생했습니다.",e)
finally:
    print("집에 가고싶다.")

에러가 발생했습니다. list index out of range
집에 가고싶다.

## 4. 파일 입출력

In [40]:
f=open("helloworld.txt","w",encoding='utf-8')
f.write("Hello Python!!!\n")
f.write("안녕하세요. 파이썬!!!\n")
f.close()

In [41]:
f=open("helloworld.txt","r",encoding='utf-8')
data=f.read()
print(data)
f.close()

Hello Python!!!
안녕하세요. 파이썬!!!

In [42]:
with open("hellopython.txt", 'w', encoding='utf-8') as f:
    for i in range(0,10):
        f.write("%d >>"%i)
        f.write("Life is too short, ")
        f.write("you need python\n")
    print("파일 저장이 완료되었습니다.")

파일 저장이 완료되었습니다.

In [43]:
with open("hellopython.txt",'r',encoding='utf-8') as f:
    data=f.read()
    print(data)

0 >>Life is too short, you need python
1 >>Life is too short, you need python
2 >>Life is too short, you need python
3 >>Life is too short, you need python
4 >>Life is too short, you need python
5 >>Life is too short, you need python
6 >>Life is too short, you need python
7 >>Life is too short, you need python
8 >>Life is too short, you need python
9 >>Life is too short, you need python

In [44]:
with open("helloworld.txt",'r',encoding='utf-8') as f:
    lines=f.readlines()
    print(lines)
    print('-'*30)
    size=len(lines)
    print('읽어들인 데이터는 총 %d줄입니다'%size)
    print('-'*30)
    for i in lines:
        print(i.strip())

['Hello Python!!!\n', '안녕하세요. 파이썬!!!\n']
------------------------------
읽어들인 데이터는 총 2줄입니다
------------------------------
Hello Python!!!
안녕하세요. 파이썬!!!

In [45]:
grade=[
    {'name':'철수','kor':95,'eng':88,'math':72},
    {'name':'영희','kor':92,'eng':90,'math':95},
    {'name':'철민','kor':88,'eng':76,'math':64}
]

tpl="{0},{1},{2},{3}\n"

with open('grade.csv','w',encoding='euc-kr') as f:
    f.write('이름,국어,영어,수학\n')
    for i in grade:
        t=tpl.format(i['name'],i['kor'],i['eng'],i['math'])
        f.write(t)

In [46]:
grade_dic={
    '이름':['철수','영희','민철','수현','호영'],
    '국어':[98,88,92,63,120],
    '영어':[76,90,70,60,50],
    '수학':[88,62,88,31,76],
    '과학':[64,72,45,70,88]
}

tpl="{0},{1},{2},{3},{4}\n"
keys=list(grade_dic.keys())
title=','.join(keys)

with open('grade2.csv','w',encoding='euc-kr') as f:
    f.write(title+'\n')
    for i in range(0,len(grade_dic['이름'])):
        t=tpl.format(grade_dic['이름'][i],grade_dic['국어'][i],grade_dic['영어'][i],grade_dic['수학'][i],grade_dic['과학'][i])
        f.write(t)

In [47]:
csv_list=None
with open('grade.csv','r',encoding='euc-kr') as f:
    csv_list=f.readlines()
print(csv_list)

['이름,국어,영어,수학\n', '철수,95,88,72\n', '영희,92,90,95\n', '철민,88,76,64\n']

In [48]:
data=[]
for i, line in enumerate(csv_list):
    if i==0:
        continue
    k=line.strip().split(',')
    item={'name':k[0],'kor':k[1],'eng':k[2],'math':k[3]}
    data.append(item)
print(data)

[{'name': '철수', 'kor': '95', 'eng': '88', 'math': '72'}, {'name': '영희', 'kor': '92', 'eng': '90', 'math': '95'}, {'name': '철민', 'kor': '88', 'eng': '76', 'math': '64'}]

In [51]:
k=None
with open('grade2.csv','r',encoding='euc-kr') as f:
    k=f.readlines()
print(k)

['이름,국어,영어,수학,과학\n', '철수,98,76,88,64\n', '영희,88,90,62,72\n', '민철,92,70,88,45\n', '수현,63,60,31,70\n', '호영,120,50,76,88\n']

In [52]:
data1=[]
for i, l in enumerate(k):
    if i==0:
        continue
    y=l.strip().split(',')
    m={'name':y[0],'kor':y[1],'eng':y[2],'math':y[3],'sci':y[4]}
    data1.append(m)
print(data1)

[{'name': '철수', 'kor': '98', 'eng': '76', 'math': '88', 'sci': '64'}, {'name': '영희', 'kor': '88', 'eng': '90', 'math': '62', 'sci': '72'}, {'name': '민철', 'kor': '92', 'eng': '70', 'math': '88', 'sci': '45'}, {'name': '수현', 'kor': '63', 'eng': '60', 'math': '31', 'sci': '70'}, {'name': '호영', 'kor': '120', 'eng': '50', 'math': '76', 'sci': '88'}]

In [54]:
try:
    with open('covid19.csv','r',encoding='euc-kr') as f:
        csv_list=f.readlines()
        seoul_confirm_sum=0
        seoul_death_sum=0
        nation_confirm_sum=0
        nation_death_sum=0
        for i, line in enumerate(csv_list):
            if i==0:
                continue
            k=line.strip().split(',')
            if k[1].isnumeric():
                seoul_confirm_sum+=int(k[1])
            if k[2].isnumeric():
                seoul_death_sum+=int(k[2])
            if k[3].isnumeric():
                nation_confirm_sum+=int(k[3])
            if k[4].isnumeric():
                nation_death_sum+=int(k[4])
        size=len(csv_list)-1
        print("서울 일 평균 확진자 수 : %.2f명"%(seoul_confirm_sum/size))
        print("서울 일 평균 사망자 수 : %.2f명"%(seoul_death_sum/size))
        print("전국 일 평균 확진자 수 : %.2f명"%(nation_confirm_sum/size))
        print("전국 일 평균 사망자 수 : %.2f명"%(nation_death_sum/size))
except Exception as e:
    print("제대로 좀 코딩해라.",e)
finally:
    print('-'*30)
    print("슬슬 집 갈 준비 하자")

서울 일 평균 확진자 수 : 5119.41명
서울 일 평균 사망자 수 : 3.40명
전국 일 평균 확진자 수 : 26141.33명
전국 일 평균 사망자 수 : 19.72명
------------------------------
슬슬 집 갈 준비 하자