In [25]:
from sqlalchemy import create_engine, text
from pandas import DataFrame

In [26]:
config={
    'username':'root',
    'password':'1234',
    'hostname':'localhost',
    'port':9090,
    'database':'myschool',
    'charset':'utf8mb4'
}

con_str_tpl='mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}'
con_str=con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

In [27]:
try:
    engine=create_engine(con_str)
    conn=engine.connect()
    print('Database connect success!!!')
except Exception as e:
    print('Database connect fail!!!',e)

Database connect success!!!

In [28]:
from pandas import read_sql

In [29]:
csv_list=None
with open('covid19.csv','r',encoding='euc-kr') as f:
    csv_list=f.readlines()
data=[]
for i, line in enumerate(csv_list):
    if i==0:
        continue
    k=line.strip().split(',')
    item={'covid_date':k[0],'seoul_confirm_sum':k[1],'seoul_death_sum':k[2],'nation_confirm_sum':k[3],'nation_death_sum':k[4]}
    data.append(item)

In [ ]:
sql=text('DELETE FROM covid19')         #데이터 삭제 구문
try:
    result=conn.execute(sql)
    conn.commit()
except Exception as e:
    print(f'데이터 삭제 오류: {e}')
    conn.rollback()
    raise SystemExit

In [ ]:
sql=text("""
         INSERT INTO covid19 (covid_date, seoul_confirm_sum, seoul_death_sum, nation_confirm_sum, nation_death_sum)
         VALUES (:covid_date, :seoul_confirm_sum, :seoul_death_sum, :nation_confirm_sum, :nation_death_sum)""")
        # 데이터 추가 구문
try:
    for i in range(0,len(data)):
        if data[i]['seoul_confirm_sum']=='':
            data[i]['seoul_confirm_sum']=None
        if data[i]['seoul_death_sum']=='':
            data[i]['seoul_death_sum']=None
        if data[i]['nation_confirm_sum']=='':
            data[i]['nation_confirm_sum']=None
        if data[i]['nation_death_sum']=='':
            data[i]['nation_death_sum']=None
        result=conn.execute(sql,{'covid_date':data[i]['covid_date'],'seoul_confirm_sum':data[i]['seoul_confirm_sum'],'seoul_death_sum':data[i]['seoul_death_sum'],'nation_confirm_sum':data[i]['nation_confirm_sum'],'nation_death_sum':data[i]['nation_death_sum']})
        conn.commit()
except Exception as e:
    print(f'SQL Error:',e)
    conn.rollback()
    raise SystemExit

In [ ]:
sql1=text("""SELECT DATE_FORMAT(covid_date, '%Y년 %m월') as 날짜, SUM(seoul_confirm_sum) as '서울시 월별 확진', SUM(seoul_death_sum) as '서울시 월별 사망', SUM(nation_confirm_sum) as '전국 월별 확진', SUM(nation_death_sum) as '전국 월별 사망'
         FROM covid19
         GROUP BY YEAR(covid_date), MONTH(covid_date)
         ORDER BY YEAR(covid_date) ASC, MONTH(covid_date) ASC
         """)
        # 데이터 조회 구문
try:
    df=read_sql(sql1,conn)
except Exception as e:
    print("SQL Error:",e)
    raise SystemExit

df

           날짜  서울시 월별 확진  서울시 월별 사망   전국 월별 확진  전국 월별 사망
0   2020년 02월        0.0        0.0        0.0       0.0
1   2020년 03월        0.0        0.0        0.0       0.0
2   2020년 04월        7.0        0.0       82.0       0.0
3   2020년 05월      228.0        0.0      709.0       0.0
4   2020년 06월      451.0        0.0     1335.0       0.0
5   2020년 07월      288.0        0.0     1530.0       0.0
6   2020년 08월     2267.0        0.0     5642.0       0.0
7   2020년 09월     1424.0        0.0     3865.0       0.0
8   2020년 10월      719.0        0.0     2713.0       0.0
9   2020년 11월     2802.0        0.0     7769.0       0.0
10  2020년 12월    10209.0        0.0    26554.0       0.0
11  2021년 01월     5168.0        0.0    17500.0       0.0
12  2021년 02월     4083.0        0.0    11493.0       0.0
13  2021년 03월     3803.0        0.0    13430.0       0.0
14  2021년 04월     5811.0        0.0    18938.0       0.0
15  2021년 05월     6080.0        0.0    18343.0       0.0
16  2021년 06월     6075.0        0.0    16626.0       0.0
17  2021년 07월    14377.0        0.0    41401.0       0.0
18  2021년 08월    15019.0        0.0    53121.0       0.0
19  2021년 09월    21148.0        0.0    59899.0       0.0
20  2021년 10월    19123.0        0.0    53449.0       0.0
21  2021년 11월    34711.0        0.0    82566.0       0.0
22  2021년 12월    70977.0        0.0   183680.0       0.0
23  2022년 01월    52140.0        0.0   215009.0       0.0
24  2022년 02월   498842.0       36.0  2288947.0       0.0
25  2022년 03월  1983383.0     1158.0  9962387.0    5343.0
26  2022년 04월   722562.0     1019.0  4143305.0    6564.0
27  2022년 05월   135270.0      239.0   860022.0    1382.0
28  2022년 06월    49289.0       64.0   256037.0     371.0
29  2022년 07월   312023.0       80.0  1417511.0     500.0
30  2022년 08월   583610.0      259.0  3472043.0    1717.0
31  2022년 09월   270218.0      258.0  1523764.0    1642.0
32  2022년 10월   159869.0      117.0   789036.0     771.0
33  2022년 11월   306653.0      205.0  1541960.0    1332.0
34  2022년 12월   366337.0      255.0  1961255.0    1650.0
35  2023년 01월   201493.0      197.0  1110809.0    1293.0
36  2023년 02월    60021.0       85.0   338397.0     538.0
37  2023년 03월    62479.0       38.0   299294.0     283.0
38  2023년 04월    89355.0       41.0   354103.0     215.0
39  2023년 05월   126411.0       69.0   528768.0     305.0

In [24]:
df.to_excel('covid19_연구과제_김선규.xlsx')