In [25]:
from sqlalchemy import create_engine, text
from pandas import DataFrame

In [26]:
config={
    'username':'root',
    'password':'1234',
    'hostname':'localhost',
    'port':9090,
    'database':'myschool',
    'charset':'utf8mb4'
}

con_str_tpl='mariadb+pymysql://{username}:{password}@{hostname}:{port}/{database}?charset={charset}'
con_str=con_str_tpl.format(**config)
print(con_str)

mariadb+pymysql://root:1234@localhost:9090/myschool?charset=utf8mb4

In [27]:
try:
    engine=create_engine(con_str)
    conn=engine.connect()
    print('Database connect success!!!')
except Exception as e:
    print('Database connect fail!!!',e)

Database connect success!!!

In [28]:
from pandas import read_sql

In [29]:
csv_list=None
with open('covid19.csv','r',encoding='euc-kr') as f:
    csv_list=f.readlines()
data=[]
for i, line in enumerate(csv_list):
    if i==0:
        continue
    k=line.strip().split(',')
    item={'covid_date':k[0],'seoul_confirm_sum':k[1],'seoul_death_sum':k[2],'nation_confirm_sum':k[3],'nation_death_sum':k[4]}
    data.append(item)

In [ ]:
sql=text("""
         INSERT INTO covid19 (covid_date, seoul_confirm_sum, seoul_death_sum, nation_confirm_sum, nation_death_sum)
         VALUES (:covid_date, :seoul_confirm_sum, :seoul_death_sum, :nation_confirm_sum, :nation_death_sum)""")

try:
    for i in range(0,len(data)):
        if data[i]['seoul_confirm_sum']=='':
            data[i]['seoul_confirm_sum']=None
        if data[i]['seoul_death_sum']=='':
            data[i]['seoul_death_sum']=None
        if data[i]['nation_confirm_sum']=='':
            data[i]['nation_confirm_sum']=None
        if data[i]['nation_death_sum']=='':
            data[i]['nation_death_sum']=None
        result=conn.execute(sql,{'covid_date':data[i]['covid_date'],'seoul_confirm_sum':data[i]['seoul_confirm_sum'],'seoul_death_sum':data[i]['seoul_death_sum'],'nation_confirm_sum':data[i]['nation_confirm_sum'],'nation_death_sum':data[i]['nation_death_sum']})
        conn.commit()
except Exception as e:
    print(f'SQL Error:',e)
    conn.rollback()
    raise SystemExit

In [ ]:
sql1=text("""SELECT DATE_FORMAT(covid_date, '%Y년 %m월') as 날짜, SUM(seoul_confirm_sum) as '서울시 월별 확진', SUM(seoul_death_sum) as '서울시 월별 사망', SUM(nation_confirm_sum) as '전국 월별 확진', SUM(nation_death_sum) as '전국 월별 사망'
         FROM covid19
         GROUP BY YEAR(covid_date), MONTH(covid_date)
         ORDER BY YEAR(covid_date) ASC, MONTH(covid_date) ASC
         """)

try:
    df=read_sql(sql1,conn)
except Exception as e:
    print("SQL Error:",e)
    raise SystemExit

df          # 3번 실행해서 x3이 됨....

           날짜  서울시 월별 확진  서울시 월별 사망    전국 월별 확진  전국 월별 사망
0   2020년 02월        0.0        0.0         0.0       0.0
1   2020년 03월        0.0        0.0         0.0       0.0
2   2020년 04월       21.0        0.0       246.0       0.0
3   2020년 05월      684.0        0.0      2127.0       0.0
4   2020년 06월     1353.0        0.0      4005.0       0.0
5   2020년 07월      864.0        0.0      4590.0       0.0
6   2020년 08월     6801.0        0.0     16926.0       0.0
7   2020년 09월     4272.0        0.0     11595.0       0.0
8   2020년 10월     2157.0        0.0      8139.0       0.0
9   2020년 11월     8406.0        0.0     23307.0       0.0
10  2020년 12월    30627.0        0.0     79662.0       0.0
11  2021년 01월    15504.0        0.0     52500.0       0.0
12  2021년 02월    12249.0        0.0     34479.0       0.0
13  2021년 03월    11409.0        0.0     40290.0       0.0
14  2021년 04월    17433.0        0.0     56814.0       0.0
15  2021년 05월    18240.0        0.0     55029.0       0.0
16  2021년 06월    18225.0        0.0     49878.0       0.0
17  2021년 07월    43131.0        0.0    124203.0       0.0
18  2021년 08월    45057.0        0.0    159363.0       0.0
19  2021년 09월    63444.0        0.0    179697.0       0.0
20  2021년 10월    57369.0        0.0    160347.0       0.0
21  2021년 11월   104133.0        0.0    247698.0       0.0
22  2021년 12월   212931.0        0.0    551040.0       0.0
23  2022년 01월   156420.0        0.0    645027.0       0.0
24  2022년 02월  1496526.0      108.0   6866841.0       0.0
25  2022년 03월  5950149.0     3474.0  29887161.0   16029.0
26  2022년 04월  2167686.0     3057.0  12429915.0   19692.0
27  2022년 05월   405810.0      717.0   2580066.0    4146.0
28  2022년 06월   147867.0      192.0    768111.0    1113.0
29  2022년 07월   936069.0      240.0   4252533.0    1500.0
30  2022년 08월  1750830.0      777.0  10416129.0    5151.0
31  2022년 09월   810654.0      774.0   4571292.0    4926.0
32  2022년 10월   479607.0      351.0   2367108.0    2313.0
33  2022년 11월   919959.0      615.0   4625880.0    3996.0
34  2022년 12월  1099011.0      765.0   5883765.0    4950.0
35  2023년 01월   604479.0      591.0   3332427.0    3879.0
36  2023년 02월   180063.0      255.0   1015191.0    1614.0
37  2023년 03월   271976.0      163.0   1254000.0    1164.0
38  2023년 04월   893550.0      410.0   3541030.0    2150.0
39  2023년 05월  1264110.0      690.0   5287680.0    3050.0

In [24]:
df.to_excel('covid19_연구과제_김선규.xlsx')